<a href="https://colab.research.google.com/github/takashisuo/signate/blob/master/bento.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import os
import matplotlib.pyplot as plt
%matplotlib inline
import pandas as pd
import numpy as np
from sklearn.ensemble import RandomForestRegressor as RFR

In [3]:
from google.colab import drive
drive.mount('/content/drive')

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3Aietf%3Awg%3Aoauth%3A2.0%3Aoob&scope=email%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fdocs.test%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fdrive%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fdrive.photos.readonly%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fpeopleapi.readonly&response_type=code

Enter your authorization code:
··········
Mounted at /content/drive

In [0]:
train_df = pd.read_csv("./drive/My Drive/Colab Notebooks/signate/train_bento.csv", index_col="datetime")
test_df =  pd.read_csv("./drive/My Drive/Colab Notebooks/signate/test_bento.csv", index_col="datetime")

In [0]:
train_df.shape, test_df.shape
trainY = train_df.loc[:, "y"]
train_df = train_df.drop("y", axis=1)

In [6]:
train_df.shape, test_df.shape

((207, 10), (40, 10))

In [7]:
# merge train_df and test_df because expand column
merge_df = pd.concat([train_df, test_df], axis=0)
merge_df.shape

(247, 10)

In [8]:
merge_df = pd.get_dummies(merge_df)
merge_df.shape

(247, 213)

In [9]:
merge_df.isna().sum()

soldout                               0
kcal                                 45
payday                              235
temperature                           0
week_月                                0
week_木                                0
week_水                                0
week_火                                0
week_金                                0
name_いか天ぷら                            0
name_かじきの甘辛煮                          0
name_きのこソースハンバーグ                      0
name_さっくりメンチカツ                        0
name_さわら焼味噌掛け                         0
name_さんま辛味焼                           0
name_たっぷりベーコンフライ                      0
name_なすと挽肉のはさみ揚げ                      0
name_ひやしたぬきうどん・炊き込みご飯                 0
name_ぶりレモンペッパー焼き                      0
name_ますのマスタードソース                      0
name_やわらかロースのサムジョン                    0
name_アジ唐揚げ南蛮ソース                       0
name_エビフライ                            0
name_エビフライ・エビカツ                       0
name_カキフライタルタル                        0
name_カレイの唐揚げ                          0
name_カレイ唐揚げ 甘酢あん                      0
name_カレイ唐揚げ夏野菜あん                      0
name_カレイ唐揚げ野菜あんかけ                     0
name_カレイ唐揚げ野菜餡かけ                      0
                                   ...
name_鶏肉のスイートチリソース                     0
name_鶏肉の唐揚げ                           0
name_鶏肉の山賊焼き                          0
name_鶏肉の治部煮風                          0
name_麻婆春雨                             0
name_麻婆豆腐                             0
remarks_お楽しみメニュー                      0
remarks_スペシャルメニュー（800円）               0
remarks_手作りの味                         0
remarks_料理長のこだわりメニュー                  0
remarks_近隣に飲食店複合ビルオープン                0
remarks_酢豚（28食）、カレー（85食）              0
remarks_鶏のレモンペッパー焼（50食）、カレー（42食）      0
event_キャリアアップ支援セミナー                   0
event_ママの会                            0
weather_快晴                            0
weather_晴れ                            0
weather_曇                             0
weather_薄曇                            0
weather_雨                             0
weather_雪                             0
weather_雷電                            0
precipitation_--                      0
precipitation_0                       0
precipitation_0.5                     0
precipitation_1                       0
precipitation_1.5                     0
precipitation_2.5                     0
precipitation_6                       0
precipitation_6.5                     0
Length: 213, dtype: int64

In [0]:
def drop_attribute(data):
    data = data.drop('kcal', axis=1)
    data = data.drop('payday', axis=1)
    return data

In [0]:
merge_df = drop_attribute(merge_df)

In [12]:
merge_df.head()

            soldout  temperature  ...  precipitation_6  precipitation_6.5
datetime                          ...
2013-11-18        0         19.8  ...                0                  0
2013-11-19        1         17.0  ...                0                  0
2013-11-20        0         15.5  ...                0                  0
2013-11-21        1         15.2  ...                0                  0
2013-11-22        1         16.1  ...                0                  0

[5 rows x 211 columns]

In [13]:
from sklearn.preprocessing import StandardScaler

ssmodel = StandardScaler()
ssmodel.fit(merge_df)
merge_df_scaled = ssmodel.transform(merge_df)
merge_df_scaled.shape

(247, 211)

In [14]:
# divide to run model
trainX = merge_df_scaled[:207, :]
testX = merge_df_scaled[207:, :]
trainX.shape, testX.shape

((207, 211), (40, 211))

In [20]:
from sklearn.model_selection import GridSearchCV
search_params = {
    'n_estimators'      : [5, 10, 20, 30, 50, 100],
    'max_features'      : [10, 50, 100, 150, trainX.shape[1]],
    'random_state'      : [2525],
    'n_jobs'            : [5],
    'min_samples_split' : [3, 5, 10, 15, 20, 25, 30],
    'max_depth'         : [3, 5, 10, 15, 20, 25, 30]
}

gsr = GridSearchCV(
    RFR(),
    search_params,
    cv = 3,
    n_jobs = -1,
    verbose=True
)
 
gsr.fit(trainX, trainY)

Fitting 3 folds for each of 1470 candidates, totalling 4410 fits

[Parallel(n_jobs=-1)]: Using backend LokyBackend with 2 concurrent workers.
[Parallel(n_jobs=-1)]: Done  46 tasks      | elapsed:    5.2s
[Parallel(n_jobs=-1)]: Done 196 tasks      | elapsed:   21.9s
[Parallel(n_jobs=-1)]: Done 446 tasks      | elapsed:   49.8s
[Parallel(n_jobs=-1)]: Done 796 tasks      | elapsed:  1.5min
[Parallel(n_jobs=-1)]: Done 1246 tasks      | elapsed:  2.3min
[Parallel(n_jobs=-1)]: Done 1796 tasks      | elapsed:  3.3min
[Parallel(n_jobs=-1)]: Done 2446 tasks      | elapsed:  4.5min
[Parallel(n_jobs=-1)]: Done 3196 tasks      | elapsed:  5.9min
[Parallel(n_jobs=-1)]: Done 4046 tasks      | elapsed:  7.5min
[Parallel(n_jobs=-1)]: Done 4410 out of 4410 | elapsed:  8.2min finished

GridSearchCV(cv=3, error_score='raise-deprecating',
             estimator=RandomForestRegressor(bootstrap=True, criterion='mse',
                                             max_depth=None,
                                             max_features='auto',
                                             max_leaf_nodes=None,
                                             min_impurity_decrease=0.0,
                                             min_impurity_split=None,
                                             min_samples_leaf=1,
                                             min_samples_split=2,
                                             min_weight_fraction_leaf=0.0,
                                             n_estimators='warn', n_jobs=None,
                                             oob_score=False, random_state=None,
                                             verbose=0, warm_start=False),
             iid='warn', n_jobs=-1,
             param_grid={'max_depth': [3, 5, 10, 15, 20, 25, 30],
                         'max_features': [10, 50, 100, 150, 211],
                         'min_samples_split': [3, 5, 10, 15, 20, 25, 30],
                         'n_estimators': [5, 10, 20, 30, 50, 100],
                         'n_jobs': [5], 'random_state': [2525]},
             pre_dispatch='2*n_jobs', refit=True, return_train_score=False,
             scoring=None, verbose=True)

In [21]:
gsr.best_params_

{'max_depth': 15,
 'max_features': 100,
 'min_samples_split': 5,
 'n_estimators': 5,
 'n_jobs': 5,
 'random_state': 2525}

In [0]:
pred = gsr.predict(testX)

In [0]:
# register
submit = pd.DataFrame()
submit[0] = test_df.index # insert id to variable
submit[1] = pred # insert predict to variable

In [25]:
submit

             0           1
0    2014-10-1   59.261905
1    2014-10-2   57.324887
2    2014-10-3   48.653459
3    2014-10-6   74.431429
4    2014-10-7   59.226316
5    2014-10-8   57.934286
6    2014-10-9   57.379649
7   2014-10-10  106.133333
8   2014-10-14   56.600000
9   2014-10-15  120.910000
10  2014-10-16  110.026667
11  2014-10-17   71.010476
12  2014-10-20   68.909524
13  2014-10-21   73.364286
14  2014-10-22  117.830000
15  2014-10-23   90.153333
16  2014-10-24   96.981569
17  2014-10-27   65.264286
18  2014-10-28   78.761905
19  2014-10-29   77.008333
20  2014-10-30   79.076667
21  2014-10-31   63.450000
22   2014-11-4   77.726667
23   2014-11-5  139.945000
24   2014-11-6   71.845238
25   2014-11-7  102.400000
26  2014-11-10   74.831429
27  2014-11-11  120.145000
28  2014-11-12  135.145000
29  2014-11-13   73.795238
30  2014-11-14  118.020000
31  2014-11-17  132.510000
32  2014-11-18  122.243333
33  2014-11-19  114.381569
34  2014-11-20  100.260952
35  2014-11-21  117.198235
36  2014-11-25  127.843333
37  2014-11-26  117.463333
38  2014-11-27   99.302521
39  2014-11-28  118.346667

In [0]:
submit.to_csv("./drive/My Drive/Colab Notebooks/signate/submit.csv", header=None, index=None)